.buttons{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  margin-right: 10px;
  background-color: #f76b8a;
  color: white;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
}
